body {
	font-family: 'Verdana', 'sans-serif';
}

.masthead {
	text-align: center;
}

.container {
	font-size: 14pt;
	text-align: justify;
}

a.btn-primary{
  background-color:#0000E6;
  border-color: #0000E6;
  border-radius: 16px;
}

a.btn-primary:hover {
  background-color: white;
  color: #0000E6;
  border-color: #0000E6;
}

.jumbotron {
    position: relative;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 0px;
    
    background: rgb(0,139,139); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(0,139,139,1) 0%, rgba(0,139,139,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,139,139,1)), color-stop(100%,rgba(0,139,139,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(0,139,139,1) 0%,rgba(0,139,139,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(0,139,139,1) 0%,rgba(0,139,139,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0,139,139,1) 0%,rgba(0,139,139,1) 100%); /* IE10+ */
    background: linear-gradient(45deg, rgba(0,139,139,1) 0%,rgba(0,139,139,1) 100%); /* W3C */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
   
}
h1 {
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    color: #0000E6;
    font-family: 'Acme';
}
h2 {
    font-size: 48px;
    font-weight: bold;
    color: #0000E6;
    font-family: 'Acme';
}
h3 {
    font-size: 32px;
    color: #0000E6;
    font-family: 'Acme';
}
h5 {
    font-size: 24px;
    color: #0000E6;
    font-family: 'Acme';
}
.navbar {
  background-color: #777;
}
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
  color: #fff;
}
.navbar-inner {
  text-align: center;
  font-size: 14pt;
}
.nav.navbar-nav li a {
  color: #fff;
}
.nav.navbar-nav li a:hover {
  color: #aaa;
}
.description {
    text-align: justify;
}

a.group_link {
  text-decoration: none;
  color: rgb(0,139,139);
}

a.group_link:hover {
  background-color: rgb(0,139,139);
  color: white;
}

a.group_link_clicked {
  text-decoration:none;
  background-color: rgb(0,139,139);
  color: white;
}

a.article_link {
  text-decoration: none;
  color: rgb(0,139,139);
}

a.article_link:hover {
  background-color: rgb(0,139,139);
  color: white;
}

a.article_link_clicked {
  text-decoration:none;
  background-color: rgb(0,139,139);
  color: white;
}

a.claim {
  color: white;
  background-color: #ff3333;
}
 
a.claim:hover {
  text-decoration: none;
}

a.claim_fp {
  color: white;
  background-color: #3333ff;
}
 
a.claim_fp:hover {
  text-decoration: none;
}

a.claim_fn {
  color: white;
  background-color: #33dd33;
}
 
a.claim_fn:hover {
  text-decoration: none;
}

.title {
  color: rgb(0,139,139);
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
}

table.videos {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   border-collapse: separate;
   border-spacing: 20px;
}

.btn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12pt;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

.btn:hover {
  color: #ccc;
}

.bluebutton {
  background: #0000E6;
  background-image: -webkit-linear-gradient(top, #0000E6, #000099);
  background-image: -moz-linear-gradient(top, #0000E6, #000099);
  background-image: -ms-linear-gradient(top, #0000E6, #000099);
  background-image: -o-linear-gradient(top, #0000E6, #000099);
  background-image: linear-gradient(to bottom, #0000E6, #000099);
}

marquee {
  border:solid 2px #00B8B8;
  padding: 10pt;
}

.marquee-container {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 20pt;
}

.marquee-title {
  font-family: 'Acme';
  font-size: 20pt;
  color: #0000E6;
}

.footer {
  text-align: center;
}

.footer a {
  font-family: 'Acme';
  font-size: 20pt;
  text-align: center;
  color: #0000E6;
  .inset;
  .border-radius(5px);
  .transition;
}

.modal-title {
  color: #0000E6;
}

.mainbox {
  border: 2px solid #0000E6;
  border-radius: 20px;
  width: 70%;
  height: 5%;
}

.mail-box {
  border: 2px solid #0000E6;
}

.claim {
  text-color: #0000E6;
  font-weight: bold;
}

.not_argumentative {
  display: none;
}

.not_argumentative > a {
  color: #bbb;
  text-decoration: none;
}

.dots > a {
  color: #bbb;
  text-decoration: none;
}

.dots {
  display: block;
}





